doctype

html(ng-app="strator")
  head
    title Strator
    script(src="bower_components/angular/angular.min.js")
    script(src="bower_components/angular-bootstrap/ui-bootstrap.min.js")
    
    script(src="javascript/app.js")
    script(src="javascript/controllers.js")
    script(src="javascript/services.js")
    
    style.
      @import(url:"bower_components/bootstrap/bootstrap/bootstrap.min.css")
  body(ng-view)
    h1 {{title}}
    
