doctype

html
  head
    title Strator
    script(src="./bower_components/angular/angular.js")
    script(src="./bower_components/angular-ui/build/angular-ui.js")
    script(src="./bower_components/angular-bootstrap.js")
    
    script(src="./javascript/app.js")
  
  body(ng-app="strator", ng-controller="ctrlMain")
    h1 {{title}}
    
