doctype

html(ng-app="strator")
  head
    title Strator
    script(src="js/vendor.min.js")
    script(src="js/app.min.js")
    
    style.
      @import(url:"bower_components/bootstrap/bootstrap/bootstrap.min.css")
  body(ng-view)
    h1 {{title}}
    
