doctype

html(ng-app="strator", lang="en")
  head
    meta(charset-"utf-8")
    title Strator
    script(src="js/app.min.js")
    link(rel="stylesheet", href="css/app.min.css", type="text/css") 
  body(ng-view)
    h1 {{title}} Yoman

